div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 10px;
}

div + div + div {
  border-radius: 50%;
}

img {
  border: 10px solid orangered;
  margin: 10px;
 }
 p img {
   float:left;
 }
/* Shorthand font rule */
a {
  font: italic small-caps 700 16px/1.2 sans-serif;
 }

 .circular-border {
   border-radius: 100%;
 }

.dogone {
    border: 10px groove orangered;

}
.dogtwo{
    border: 10px double orangered;
    padding: 20px;
}
.dogthree {
    border: 10px dashed blue;
    box-sizing: border-box;
    width: 200px;
}
.dogfour {
    border: 10px dotted orangered;
}
