div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 10px;
}

div + div + div {
  border-radius: 50%;
}

img {
  border: 10px solid orangered;

 }

 .circular-border {
   border-radius: 100%;
 }

.dogone {
    border: 10px groove orangered;

}
.dogtwo{
    border: 10px double orangered;
}
.dogthree {
    border: 10px dashed orangered;
}
.dogfour {
    border: 10px dotted orangered;
}
